html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    color: #bb1b47;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  
h2 {
    font-size: 2rem;
  }
  
h3 {
    font-size: 1.5rem;
  }

.site-intro {
    font-size: 1.25rem;
  }

nav a:link,
nav a:visited {
    color: #333;
    text-decoration: none;
  }
  
nav a:hover {
    color: #0077cc;
    text-decoration: underline;
  }
  
nav a:active,
nav a:focus {
    color: #ff6600;
    text-decoration: underline;
  }